<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="./css-custom/admin.css" />
      <title>Document</title>
   </head>
   <body class="">
      <div class="container">
         <div class="box-content">
            <div class="box-sub-content">
               <div class="box-c-service">
                  <div class="b-boxsv">
                     <div class="user-service">
                        <div class="main-user">
                           <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="70"
                              height="70"
                              fill="currentColor"
                              class="bi bi-person-circle"
                              viewBox="0 0 16 16"
                           >
                              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                              <path
                                 fill-rule="evenodd"
                                 d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                              />
                           </svg>
                           Chào mừng bạn trở lại
                        </div>
                        <div class="btn-service">
                           <button>
                              <svg
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="20"
                                 height="20"
                                 fill="white"
                                 class="bi bi-cart2"
                                 viewBox="0 0 16 16"
                              >
                                 <path
                                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"
                                 />
                              </svg>
                              POS Bán Hàng
                           </button>
                           <button>
                              <svg
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="20"
                                 height="20"
                                 fill="white"
                                 class="bi bi-wallet"
                                 viewBox="0 0 16 16"
                              >
                                 <path
                                    d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268M1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1"
                                 />
                              </svg>
                              Bảng Điều Khiển
                           </button>
                        </div>
                     </div>

                     <div class="list-service">
                        <nav class="nav-item">
                           <ul class="list-item">
                              <li class="item-main">
                                 <a href="" class="link-item">
                                    <svg
                                       xmlns="http://www.w3.org/2000/svg"
                                       width="25"
                                       height="25"
                                       fill="currentColor"
                                       class="bi bi-person-circle"
                                       viewBox="0 0 16 16"
                                    >
                                       <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                       <path
                                          fill-rule="evenodd"
                                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                                       />
                                    </svg>
                                    Quản lí nhân viên
                                 </a>
                              </li>
                              <li class="item-main">
                                 <a href="" class="link-item">
                                    <svg
                                       xmlns="http://www.w3.org/2000/svg"
                                       width="25"
                                       height="25"
                                       fill="currentColor"
                                       class="bi bi-people"
                                       viewBox="0 0 16 16"
                                    >
                                       <path
                                          d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"
                                       />
                                    </svg>
                                    Quản lí khách hàng
                                 </a>
                              </li>
                              <li class="item-main">
                                 <a href="" class="link-item">
                                    <svg
                                       xmlns="http://www.w3.org/2000/svg"
                                       width="25"
                                       height="25"
                                       fill="currentColor"
                                       class="bi bi-list"
                                       viewBox="0 0 16 16"
                                    >
                                       <path
                                          fill-rule="evenodd"
                                          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
                                       />
                                    </svg>
                                    Quản lí sản phẩm
                                 </a>
                              </li>
                              <li class="item-main">
                                 <a href="" class="link-item">
                                    <svg
                                       xmlns="http://www.w3.org/2000/svg"
                                       width="25"
                                       height="25"
                                       fill="currentColor"
                                       class="bi bi-bag"
                                       viewBox="0 0 16 16"
                                    >
                                       <path
                                          d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"
                                       />
                                    </svg>
                                    Quản lí đơn hàng
                                 </a>
                              </li>
                              <li class="item-main">
                                 <a href="" class="link-item">
                                    <svg
                                       xmlns="http://www.w3.org/2000/svg"
                                       width="25"
                                       height="25"
                                       fill="currentColor"
                                       class="bi bi-card-checklist"
                                       viewBox="0 0 16 16"
                                    >
                                       <path
                                          d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"
                                       />
                                       <path
                                          d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"
                                       />
                                    </svg>
                                    Bảng kê lương
                                 </a>
                              </li>
                              <li class="item-main">
                                 <a href="" class="link-item">
                                    <svg
                                       xmlns="http://www.w3.org/2000/svg"
                                       width="25"
                                       height="25"
                                       fill="currentColor"
                                       class="bi bi-truck"
                                       viewBox="0 0 16 16"
                                    >
                                       <path
                                          d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456M12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2"
                                       />
                                    </svg>
                                    Báo cáo doanh thu
                                 </a>
                              </li>
                              <li class="item-main">
                                 <a href="" class="link-item">
                                    <svg
                                       xmlns="http://www.w3.org/2000/svg"
                                       width="25"
                                       height="25"
                                       fill="currentColor"
                                       class="bi bi-eye-fill"
                                       viewBox="0 0 16 16"
                                    >
                                       <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                       <path
                                          d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"
                                       />
                                    </svg>
                                    Quản lí nội bộ
                                 </a>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>

               <div class="box-c-infor">
                  <div class="container-box-infor">
                     <div class="box-title-infor">
                        <p>Quản Lý Sách</p>
                        <form action="">
                           <button class="btn-add">Thêm Sách</button> 
                        </form>
                     </div>

                     <table class="table-infor-item">
                        <thead>
                           <tr>
                              <th class="name-infor-th">STT</th>
                              <th class="name-infor-th">Hình ảnh</th>
                              <th class="name-infor-th">Tựa sách</th>
                              <th class="name-infor-th">Tác giả</th>
                              <th class="name-infor-th">Giá Trị</th>
                              <th class="name-infor-th">Số Lượng</th>
                              <th class="name-infor-th">Chủ Đề</th>
                              <th class="name-infor-th">Số cảm nghĩ</th>
                              <th class="name-infor-th">Lượt đọc</th>
                              <th class="name-infor-th">Lượt xem</th>
                              <th class="name-infor-th" colspan="2">Hành Động</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>1</td>
                              <td>
                                 <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="32"
                                    height="32"
                                    fill="currentColor"
                                    class="bi bi-person-circle"
                                    viewBox="0 0 16 16"
                                 >
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                    <path
                                       fill-rule="evenodd"
                                       d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                                    />
                                 </svg>
                              </td>
                              <td>Đắc nhân tâm</td>
                              <td>Gia Bảo</td>
                              <td>157.330</td>
                              <td>200</td>
                              <td>Tâm lí</td>
                              <td>5000</td>
                              <td>6000</td>
                              <td>6500</td>
                              <td>
                                 <form action="">

                                    <button class="btn-setting stt-change">Sửa</button>
                                 </form>
                              </td>
                              <td>
                                 <form action="">
                                    <button class="btn-setting stt-dlt">Xoá</button>

                                 </form>
                              </td>
                           </tr>
                           <tr>
                              <td>1</td>
                              <td>
                                 <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="32"
                                    height="32"
                                    fill="currentColor"
                                    class="bi bi-person-circle"
                                    viewBox="0 0 16 16"
                                 >
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                    <path
                                       fill-rule="evenodd"
                                       d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
                                    />
                                 </svg>
                              </td>
                              <td>Đắc nhân tâm</td>
                              <td>Gia Bảo</td>
                              <td>157.330</td>
                              <td>200</td>
                              <td>Tâm lí</td>
                              <td>5000</td>
                              <td>6000</td>
                              <td>6500</td>
                              <td>
                                 <form action="">

                                    <button class="btn-setting stt-change">Sửa</button>
                                 </form>
                              </td>
                              <td>
                                 <form action="">
                                    <button class="btn-setting stt-dlt">Xoá</button>

                                 </form>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>

         <a href="" class="box-btn">
            Đăng xuất
            <svg
               xmlns="http://www.w3.org/2000/svg"
               width="32"
               height="32"
               fill="currentColor"
               class="bi bi-box-arrow-right"
               viewBox="0 0 16 16"
            >
               <path
                  fill-rule="evenodd"
                  d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"
               />
               <path
                  fill-rule="evenodd"
                  d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
               />
            </svg>
         </a>
      </div>
   </body>
</html>
