<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="css/bootstrap.css" />

      <link rel="stylesheet" href="./css-custom/addmin-add.css" />
      <title>Document</title>
   </head>
   <body>
      <div class="container d-flex justify-content-center align-items-center">
         <div class="w-50 box_add_value">
            <h1 class="text-center my-2">Sửa sản phẩm</h1>
            <form>
               <div class="mb-3">
                  <label class="form-label">Id</label>
                  <input type="text" class="form-control" />
               </div>
               <div class="mb-3">
                  <label class="form-label">Hình ảnh</label>
                  <input type="text" class="form-control" />
               </div>
               <div class="mb-3">
                  <label class="form-label">Tựa sách</label>
                  <input type="text" class="form-control" />
               </div>
               <div class="mb-3">
                  <label class="form-label">Tác giả</label>
                  <input type="text" class="form-control" />
               </div>
               <div class="mb-3">
                  <label class="form-label">Giá Trị</label>
                  <input type="text" class="form-control" />
               </div>
               <div class="mb-3">
                  <label class="form-label">Số Lượng</label>
                  <input type="text" class="form-control" />
               </div>
               <div class="mb-3">
                  <label class="form-label">Chủ Đề</label>
                  <input type="text" class="form-control" />
               </div>
               <div class="mb-3">
                  <label class="form-label">Số cảm nghĩ</label>
                  <input type="text" class="form-control" />
               </div>
               <div class="mb-3">
                  <label class="form-label">Lượt đọc</label>
                  <input type="text" class="form-control" />
               </div>
               <div class="mb-3">
                  <label class="form-label">Lượt xem</label>
                  <input type="text" class="form-control" />
               </div>
               <!-- Số Lượng	Chủ Đề	Số cảm nghĩ	Lượt đọc		 -->
               <button type="submit" class="btn btn-success">Sửa</button>
            </form>
         </div>
      </div>
   </body>
</html>
