@media (max-width:390px){
    .form-control{
        width: 100% !important;
    }
    .box-code-sale{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
    .box-code-inp{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .box-code-inp button{
        border-radius:1rem !important;
    }
    .box_button_check_sale{
        margin-top: 2rem;
    }
    .box_button_check_sale button:first-child{
        font-size: .9rem;
    }
    .box_button_check_sale button:last-child{
        font-size: .9rem;
    }
    .box_infor_money{
        flex-direction: column;
        align-items: center;
        gap:2px !important; 
    }
    .box_infor_product{
        gap:1rem !important;
    }
}